h2,
p,
strong,
table {
  color: #C7B299;
}
h2 {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  text-transform: uppercase;
}
p {
  font-size: 10.5pt;
  margin-bottom: 10px;
}
.film-details {
  font-weight: bold;
  text-transform: uppercase;
}
.th {
  padding: 6px !important;
  font-weight: bold;
}
.film {
  display: flex;
  margin: 30px 0 70px;
  font-family: "Trebuchet MS", sans-serif;
}
.film > div {
  margin-right: 20px;
}
.film img {
  width: 250px;
  height: 380px;
}
.film .trailer-button {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  padding: 10px 23px;
  margin-bottom: 10px;
}
.film .trailer-button:hover {
  cursor: pointer;
  opacity: .8;
}

.performance td {
  padding: 5px 7px;
}

.performance-link {
  padding: 5px 7px;
  text-decoration: none !important;
  font-weight: bold;
  margin-right: 7px;
  color: black !important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.performance-link:hover,
.performance-link:focus,
.performance-link:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 47.938em) {
  .film {
    flex-direction: column;
  }
  .film > div { margin-right: 0; }
  .film > div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .film img {
    margin-bottom: 25px;
  }
}
